.page {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
}

.resultTitle {
    text-align: left;
    font-size: 32px;
}

.resultHeader {
    position: relative;
    z-index: 10;
    padding: 20px 25px 29px 25px;
    background-color: var(--color-white);
    border-radius: 0 0 40px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    grid-column: 4 / 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedbackText {
    display: none;
}

.headerTopRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultText {
    padding: 0;
    text-align: left;
}

.feedbackTriggerAnimation {
    display: none;
}

.animationContainer {
    grid-column: 1 / -1;
    align-self: end;
    overflow: hidden;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-120%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(120%);
    }
    to {
        transform: translateY(0);
    }
}

.iconButtonOnly {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 12;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    transition: transform 0.2s ease-in-out;
}

.iconButtonOnly:focus-visible {
    outline: 3px solid var(--color-navigation-blue);
    outline-offset: 4px;
}

.buttonRefreshRow {
    display: none;
}

@media (max-width: 768px) {
    .page {
        flex-direction: column-reverse !important;
        justify-content: flex-end;
        margin-bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .resultHeader {
        position: relative;
        top: auto;
        border-radius: 0px;
        /* margin-top: auto; */
        margin-bottom: 0;
        padding: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;

        transform: translateY(120%);
        animation: slideInFromBottom 0.8s ease-out 18s forwards;

        overflow: scroll;

        grid-column: 1 / -1;
        grid-row: 2;
    }

    .headerTopRow {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .feedbackTrigger {
        display: none;
    }

    .feedbackTriggerAnimation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        gap: 8px;
        cursor: pointer;
        min-height: 100px;
    }

    .feedbackText {
        display: inline;
        max-width: 250px;
        color: var(--color-navigation-blue);
        animation: fadeInQuick 0.5s ease-out forwards;
    }

    .edgeIcon {
        position: static;
        transform: none;
        background: none;
        border: none;
    }

    .resultText {
        padding: 0;
        text-align: left;
        margin-top: 5px;
    }
    .animationContainer {
        grid-row: 1;
        align-self: start;
    }

    .edgeIcon:focus-visible {
        outline: 3px solid var(--color-navigation-blue);
        outline-offset: 4px;
    }

    .buttonRefreshRow {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        gap: 6px;
    }

    .refreshButtonText {
        display: block;
    }

   
}

@keyframes fadeInQuick {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .resultHeader {
        position: relative;
        animation: slideInFromTop 0.8s ease-out 20s forwards;

        transform: translateY(-120%);
    }

    .headerTopRow:first-child {
        justify-content: center;
        padding-bottom: 10px;
    }
}

@media (min-width: 1100px) {
    .resultHeader {
        max-width: 800px;

        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 786px) and (max-width: 1024px) {
    .page {
        flex-direction: column-reverse !important;
        justify-content: flex-end;
        margin-bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .resultHeader {
        position: relative;
        top: auto;
        border-radius: 0px;
        margin-bottom: 0;
        padding: 30px;
        margin-left: 0px;
        margin-right: 0px;

        grid-column: 1 / -1;
        grid-row: 2;

        transform: translateY(120%);
        animation: slideInFromBottom 0.8s ease-out 18s forwards;
        overflow-y: auto;
    }

    .headerTopRow {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .feedbackTrigger {
        display: none;
    }

    .feedbackTriggerAnimation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        gap: 8px;
        cursor: pointer;
        min-height: 80px;
    }

    .feedbackText {
        display: inline;
        max-width: 100%;
        color: var(--color-navigation-blue);
        animation: fadeInQuick 0.5s ease-out forwards;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.06; /* 106.25% */

        padding-top: 43px;
        padding-left: 33px;
    }

    .edgeIcon {
        position: static;
        transform: none;
        background: none;
        border: none;
    }

    .resultText {
        padding: 0;
        text-align: left;
        margin-top: 10px;
        padding: 0px 80px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.33; /* 133.333% */
    }

    .animationContainer {
        grid-row: 1;
        align-self: start;
        width: 100%;
    }

    .buttonRefreshRow {
        display: flex;
        align-items: center;
        padding: 15px 100px;
        gap: 8px;
    }

    .refreshButtonText {
        display: block;
    }
    .headerTopRow:first-child {
        justify-content: flex-start;
        padding-bottom: 10px;
    }

    .resultTitle {
        padding: 0px 80px;
    }
}
