/* first animation part */

.introContainer {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.introStage {
    position: relative;
    width: 100%;
    height: 300px; 

    bottom: 0;
}

.fixedIntroWaves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url('@/themes/icons/dark_waves.svg');
    background-repeat: repeat-x;
    background-size: auto 250px;
    z-index: 1;
}

.introMovable {
    position: absolute;
    width: 100%;
    bottom: -60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
    pointer-events: none;

    left: 0;
    transform: translateX(0vw);
    transition: transform 3s linear;
}

.scene1Style {
    /* position: relative; */
    /* top: 100%; */
    height: 550px;
    width: 700px;
    image-rendering: -webkit-optimize-contrast;
    /* transform: translateZ(0); */
    display: block;
}

.isSliding {
    transform: translateX(100vw);
}

.isWaiting {
    transform: translateX(-25vw); 
}

@media (max-width: 768px) {
    .scene1Style {
        height: 400px; 
        width: 500px;
    }
    
    .introMovable {

        bottom: 25px; 
    }
}

/* second animation part */

/* .pageContainer {
    padding-top: 130px;
} */

.sliderWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.scaleLabels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 10px;
}

.movableContainer {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: left 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* 
@media (max-width: 900px) {
    .movableContainer {
        position: relative;
    }

    .pageContainer {
        padding-top: 30px;
    }
} */



.scene3Style {
    height: 650px;
    width: 800px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    backface-visibility: hidden;
}



