.pageContainer {
    padding: 32px;
    font-family: sans-serif;
}

.controls {
    margin-bottom: 32px;
}

.controls button {
    margin-right: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.sliderWrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.sliderTrack {
    /* height: 400px; */
    height: 150px;
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .sliderTrack::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    pointer-events: none;
} */

.sliderMarker {
    width: 30px;
    height: 30px;
    background-color: #42b883;
    border-radius: 6px;
    position: absolute;
    top: -100px;
    left: 10%;
    transform: translate(-50%, -50%);
    transition:
        top 1.5s ease-in-out,
        left 1.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.isDropped {
    top: 50%;
}

.trackSegments {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.segment {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.segment:last-child {
    border-right: none;
}

.s1 { background-color: rgba(121, 121, 121, 0.2); }
.s2 { background-color: rgba(130, 130, 130, 0.2); }
.s3 { background-color: rgba(146, 146, 146, 0.2); }
.s4 { background-color: rgba(147, 147, 147, 0.2); }
.s5 { background-color: rgba(189, 189, 189, 0.2); }

.scaleLabels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    padding: 0 10px;
}

@keyframes bounceInDown {
    0% {
        top: -100px;
        opacity: 0;
    }
    60% {
        top: 20px;
        opacity: 1;
    }
    80% {
        top: -2px;
    }
    100% {
        top: 5px;
    }
}

.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stage {
    width: 400px;
    height: 400px;
}

.full-size {
    width: 100%;
    height: 100%;
}


.movableContainer {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 80%;
    transform: translate(-50%, -50%); 
    z-index: 10;
    transition: left 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lottie-icon {
    width: 100% !important;
    height: 100% !important;
}

.score-label {
    font-weight: bold;
    margin-top: -5px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}