/* first animation part */

.introContainer {
    width: 100%;
    height: 400px;
    /* overflow: hidden; */
    overflow: visible;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.fixedIntroWaves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url('@/themes/icons/dark_waves.svg');
    background-repeat: repeat-x;
    background-size: auto 250px;
    z-index: 1;
}

.introMovable {
    position: absolute;
    width: 100%;
    bottom: -60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
    pointer-events: none;

    transition: transform 3s linear;
}

.scene1Style {
    height: 550px;
    width: 700px;
    image-rendering: -webkit-optimize-contrast;
    display: block;
}

.isSliding {
    transform: translateX(100vw);
}

.isWaiting {
    transform: translateX(-25vw);
}

@media (max-width: 768px) {
    .scene1Style {
        height: 400px;
        width: 500px;
    }

    .introMovable {
        bottom: 25px;
    }
    .introContainer {
        /* height: 300px; */
        height: 250px;
    }
    .label {
        hyphens: auto;
        text-wrap: wrap;
        text-align: left;
        word-break: break-word;
        max-width: 12vw;
        display: inline-block;
    }
}

@media (max-width: 700px) {
    .label {
        max-width: 20vw;
    }
}

/* second animation part */

.sliderWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.scaleLabels {
    display: flex;
    justify-content: space-between;
    /* font-size: 12px; */
    height: 50px;
    padding: 0 10px;
}

.movableContainer {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: left 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.scene3Style {
    height: 650px;
    width: 800px;
    image-rendering: -webkit-optimize-contrast;
    /* image-rendering: crisp-edges; */
    /* image-rendering: pixelated; */
    transform: translateZ(0);
    backface-visibility: hidden;
}

@media (min-width: 786px) {
    .scene3Style {
        width: 1600px;
        height: 1300px;
    }
    .movableContainer {
        top: 45%;
    }
}

.label {
    position: absolute;
    transform: translateX(-50%);
    padding-top: 10px;
}

.triangleBottom {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    transition: left 2s ease-in-out;
    z-index: 20;
}

.triangleBottom::after {
    content: '';
    position: absolute;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 2px;
    height: 50px;

    background-image: linear-gradient(to bottom, white 50%, transparent 50%);
    background-size: 100% 10px;
    background-repeat: repeat-y;
    pointer-events: none;

    opacity: 0;

    animation: fadeInDash 0.5s ease-in 5s forwards;
}

@keyframes fadeInDash {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
