* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    color: var(--color-navigation-blue);
}

h1,
h2 {
    margin-bottom: 16px;
}

h1 {
    font: var(--text-h1);
}

h2 {
    font: var(--text-h2);
}

@media (max-width: 767px) {
    h1 {
        font: var(--text-h1-phone);
    }
}

.text-body-big {
    font: var(--text-body-big);
}

.text-body-big-bold {
    font: var(--text-body-big-bold);
}

.text-body {
    font: var(--text-body);
}

.text-label {
    font: var(--text-label);
}

@media (max-width: 767px) {
    .text-body-big {
        font: var(--text-body-big-phone);
    }
    .text-body-big-bold {
        font: var(--text-body-big-bold-phone);
    }
    .text-label {
        font: var(--text-label-phone);
    }
}
