.baseCard {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    column-gap: var(--page-gutter);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: var(--white, #fff);
    box-shadow: 0 0 20px 0 rgba(34, 92, 115, 0.1);
    overflow: hidden;
}

.baseIllustration {
    grid-column: 1 / 5;
    background: var(--turquise-light, #deffff);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 70px 20px 70px 20px;
}

.baseContentArea {
    grid-column: 6 / 12;

    padding: 70px 0px 70px 0px;
    align-content: start;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}


.baseText {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 768px) {
    .baseCard {
        min-height: auto;
    }
    .baseIllustration {
        grid-column: 1 / -1;
        height: auto;
        min-height: 80px;
        padding: 15px;
    }

    .baseContentArea {
        grid-column: 1 / -1;
        padding: 36px 36px 35px;
        gap: 15px;
    }

    .baseText {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 786px) and (max-width: 1024px) {
    .baseCard {
        min-height: auto;
    }

    .baseIllustration {
        grid-column: 1 / -1;
        height: auto;
        min-height: 80px;
        padding: 30px 20px; 
    }

    .baseContentArea {
        grid-column: 1 / -1; 
        /* padding: 30px 20px; */
        padding:  52px 95px;
        gap: 15px;
    }

    .icon {
        width: var(--w-mob);
        height: var(--h-mob);
        aspect-ratio: var(--ar-mob);
        margin-top: 20px;
    }

    .celebrate {
        width: 60px;
        height: 56px;
        margin-left: auto;
        margin-right: 0;
    }

    .result {
        justify-content: space-between; 
    }

    .baseText {
        font-size: 18px;
        line-height: 24px;
    }
}